<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>게시판</title>
 
</head>
<body>
  
    <div id="board_write">
        <h4>글을 작성하는 공간입니다.</h4>
            <div id="write_area">
                <form enctype="multipart/form-data" action="/board-write" method="post">
                    <div id="in_title">
                        <textarea name="title" id="utitle" rows="1" cols="100" placeholder="제목" maxlength="100" style="resize: none;" required></textarea>
                    </div>
 
                    <div class="wi_line"></div>
                    <div id="in_content">
                        
                        <textarea name="content" id="ucontent" rows="5" cols="100" placeholder="내용" style="resize: none;"  required></textarea>
                    </div>
                    <div id="writer">
                        <textarea name="writer" id="uwriter" rows="1" cols="20" placeholder="작성자" style="resize: none;" required></textarea>
                    </div>

 
                      <input type="file" name="SelectFile" />
 
 
                    <div class="bt_se">
                        <button type="submit">글 작성</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
 